{#
/**
 * @file milestone.html.twig
 * Default theme implementation to present Milestone data.
 *
 * This template is used when viewing Milestone pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_milestone()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('milestone') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
