<div{{ attributes.addClass('project') }}>

  {% if content.name %}
    {{- content.name -}}
  {% endif %}
  <div>
    {% if content.task_list %}
      {{ content.task_list[0] }}
    {% endif %}
  </div>
</div>
